.about-splitter {
  --top: 50%;

  user-select: none;
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &__layer {
    position: absolute;
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    &--bottom {
      background: var(--accent);
      z-index: 1;

      .about-splitter__content-body {
        right: 5%;
      }
    }

    &--top {
      background: var(--background);
      z-index: 2;

      @mixin background-cell;

      .about-splitter__content-body {
        left: 5%;
      }
    }
  }

  &__content-wrap {
    position: absolute;
    width: calc(100vw - 58px);
    min-height: 100%;
  }

  &__content-body {
    width: 25%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
  }

  &__image {
    position: absolute;
    width: 35%;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__handle {
    position: absolute;
    height: 100%;
    display: block;
    background-color: var(--text);
    width: 5px;
    top: 0;
    z-index: 3;
    cursor: ew-resize;

    &::before {
      content: '';
      background-color: var(--text);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      top: var(--top);
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
  }
}