.card {
  --v-card-padding: 24px;
  --card-background: var(--primary);
  --v-card-radius: 16px;
  --v-card-width: 100%;

  padding: var(--v-card-padding);
  background: var(--card-background);
  border-radius: var(--v-card-radius);
  width: var(--v-card-width);
  flex-grow: 1;
  display: flex;
  height: var(--v-card-height, auto);
  overflow: hidden;
}
