.screen {
  border-radius: var(--v-card-radius, 4px);
  width: var(--v-card-width);
  display: flex;
  flex-direction: column;
  height: var(--v-card-height);
  overflow: hidden;
  border: 1px solid var(--border);

  &__header {
    display: flex;
    border-bottom: 1px solid var(--border);
    padding: 0 16px;
    gap: 16px;
    align-items: center;
    height: 40px;

    @mixin mobile {
      padding: 0 8px;
    }

    &-actions {
      margin-left: auto;
      color: var(--border);
      display: flex;
      gap: 8px;

      @mixin mobile {
        gap: 4px;
      }
    }
  }

  &__content {
    padding: var(--v-card-padding, 24px);
  }
}
