.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 54px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:focus-visible + .slider {
      transition: none;
      outline: black auto 2px;
    }

    &:checked + .slider:after {
      border: 13px solid var(--accent);
      translate: 26px -50%;
    }

    &:checked + .slider:before {
      translate: 22px -50%;
    }

    &:disabled + .slider {
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

.line {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 3px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background: var(--primary);
}

.slider {
  z-index: 2;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all var(--transition);

  &:before,
  &:after {
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    content: '';
    transition: all var(--transition);
  }


  &:before {
    height: 30px;
    width: 30px;
    bottom: 0;
    background-color: var(--background);
    border: 2px solid var(--background);
  }

  &:after {
    height: 26px;
    bottom: 2px;
    width: 26px;
    border: 2px solid var(--accent);
  }


}
