.about-nav {
  position: absolute;
  right: 100px;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);

  @mixin laptop {
    position: fixed;
    top: 0;
    right: 0;
    transform: none;
    width: 100%;
    background: transparent;
    padding: 16px;
    overflow-x: auto;
    scrollbar-width: none;
    z-index: 3;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;

    @mixin laptop {
      flex-direction: row;
      align-items: center;
      width: max-content;
      margin: 0 auto;
      gap: 8px;
    }
  }

  &__item {
    font-size: var(--h3-size);
    color: var(--primary);
    transition: all var(--transition);
    cursor: pointer;
    font-family: var(--secondary-font), sans-serif;

    &--active {
      color: var(--accent);
      font-size: var(--h1-size);
      list-style: disc;
    }

    @mixin laptop {
      padding: 4px 8px;
      border-radius: 24px;
      border: 1px solid var(--primary);
      font-size: var(--h4-size);
      white-space: nowrap;
      list-style: none;
      text-decoration: none;

      &.about-nav__item--active {
        font-size: var(--h4-size);
        background-color: var(--accent);
        color: var(--background);
        border-color: var(--accent);
      }
    }
  }
}
