.section {
  position: relative;
  overflow: hidden;
  grid-area: var(--y, 1) / var(--x, 1) / span var(--span, 1) / span var(--span, 1);
  filter: drop-shadow(0.5rem 1rem 1rem hsl(0 0% 10% / 0.75));

  &--active {
    z-index: 2;
    grid-column: 1 / -1;
    grid-row: 1 / -1;


    & .section__content {
      border-radius: 0;
      scale: none;
    }
  }

  &__header {
    height: 32px;
    position: relative;
    background: color-mix(in srgb, var(--background), var(--primary) 15%);
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    z-index: var(--z-index-header);

    span {
      height: 12px;
      width: 12px;
      aspect-ratio: 1;
      border-radius: 50%;

      &:nth-of-type(1) {
        background: var(--primary-30);

      }

      &:nth-of-type(2) {
        background: var(--primary-80);

      }

      &:nth-of-type(3) {
        background: var(--primary-50);
      }
    }
  }

  &__content {
    scale: calc(1 / var(--grid-size) * var(--span));
    transform-origin: 0 0;
    background: var(--background);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: grid;
    border-radius: 16px;

  }
}
