@use '@assets/style/mixins' as *;

.section {
  position: relative;
  overflow: hidden;
  grid-area: var(--y, 1) / var(--x, 1) / span var(--span, 1) / span var(--span, 1);
  --v-card-padding: 0;
  background: transparent;

  & > :deep(.card__content) {
    height: 100%;
  }

  & > :deep(.card__header) {
    background: color-mix(in srgb, var(--background) 75%, transparent);
    backdrop-filter: blur(4px);
  }

  &--active {
    z-index: 2;
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    border-width: 0;
    border-radius: 0;

    & > :deep(.card__header) {
      height: 0;
      visibility: hidden;
      opacity: 0;
      border: none;
    }


    & .section__content {
      border-radius: 0;
      scale: none;
      @include mobile {
        height: 100%;
        width: 100%;
      }
    }

    @include mobile {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    scale: calc(1 / var(--grid-size) * var(--span));
    transform-origin: 0 0;
    background: color-mix(in srgb, var(--background) 75%, transparent);
    backdrop-filter: blur(4px);
    width: calc(100dvw - 58px);
    height: calc(100dvh - 98px);
    overflow: hidden;
    position: relative;
    display: grid;
    border-radius: 16px;

    @include mobile {
      width: calc(100dvw - 21px);
    }
  }
}
