@use '@assets/style/mixins' as *;

.contacts-block {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

  &__col {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include mobile {
      width: 100%;
    }
  }
}
