@use '@assets/style/mixins' as *;

.contacts-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @include mobile {
    align-items: flex-start;
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

    @include mobile {
      padding: 40px 16px 70px;
    }
  }

  &__col {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-height: 620px;

    @include mobile {
      width: 100%;
    }
  }
}
