@use '@assets/style/mixins' as *;

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    scale: 1.2;
    color: var(--accent);
  }
}
