@use '@assets/style/mixins' as *;

.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    scale: 1.2;
    color: var(--accent);
  }
}

.transition-grid {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  z-index: var(--z-index-modal);

  &__element {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: var(--text);
  }
}
